<% if @verified == true %>
  <p class="alert">You have already verified that number!</p>
<% end %>

<p>Congratulations, you have successfully verified your number <%= @phone_number %><br />Verify another number <a href="/">here</a></p>